<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functionality tests">
    <test name="Project tests">
         <classes>
             <class name="tests.ProfileTest"/>
             <class name="tests.MealItemTest"/>
          </classes>
     </test> 
</suite>